@font-face {
  font-family: "HELVETICA-BOLD";
  src: url(../fonts/HELVETICA-NEUE-LT-GEO-75-BOLD.ttf);
}

@font-face {
  font-family: "HELVETICA-NORM";
  src: url(../fonts/HELVETICANEUELTGEO-45LIGHTS.ttf);
}

.font1 {
  font-family: "HELVETICA-BOLD";
}

.font2 {
  font-family: "HELVETICA-NORM";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1475px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

/* header */
.header-wraper {
  border: 1px solid;
  height: 387.56px;
  background-color: #0020f4;
  /* position: relative; */
  /* z-index: 1; */
}

header {
  position: relative;
  z-index: 1;
}

nav ul a {
  font-size: 16px;
  color: white;
}

.header-wraper,
nav ul {
  display: flex;
  gap: 45px;
  justify-content: space-between;
  align-items: first baseline;
}

header img {
  width: 115px;
  height: 65px;
}

.contact {
  border: 1px solid;
  width: 160px;
  height: 55px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
.contact a {
  color: black;
}
ul {
  position: relative;
}
.line {
  border-top: 1px solid #ffffff;
  width: 37px;
  position: absolute;
  top: 80%;
  left: 1.6%;
}

/* section 1 */
.mainImg,
.articles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.section1-h1 {
  font-size: 28px;
  padding-left: 125px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 60px;
}

.section1-P {
  margin-left: 125px;
  margin-right: 125px;
  padding-top: 18px;
}

.section1 {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -10%);
  z-index: 2;
}

.seeMore {
  width: 341px;
  height: 55px;
  background-color: #0a22f4;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  margin: auto;
  margin-top: 58px;
}

.articles {
  gap: 25px;
  margin-bottom: 42px;
  display: flex;
  flex-wrap: wrap;
}

/* section2 */
.section-wrapper {
  display: flex;
  margin-top: 190vh;
  background-color: #0a22f4;
  justify-content: space-around;
  flex-wrap: wrap;
}

.section-contact {
  max-width: 463px;
  margin-top: 100px;
  color: white;
}

label,
.section2-P {
  font-size: 16px;
  color: white;
  padding-bottom: 20px;
}

form {
  max-width: 463px;
  margin: 100px auto;
}

.input-wrapper {
  max-width: 463px;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

input,
textarea {
  background-color: #0a22f4;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(177, 166, 166, 0.5);
}

textarea {
  padding-top: 100px;
  resize: none;
}

button {
  width: 151px;
  height: 55px;
  border-radius: 30px;
  margin-top: 40px;
  color: #171717;
  margin-left: 312px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* contact */
iframe {
  width: 463px;
  height: 197px;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 58px;
}

.box {
  width: 1000px;
}

.box,
.logo1,
.logo2 {
  display: flex;
  align-items: center;
}

.phone,
.email {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.box {
  margin-top: 60px;
}

.section2-h1 {
  padding-bottom: 30px;
}

.logo2 {
  margin-left: 98px;
}

/* footer */
.footer {
  background-color: #0a22f4;
  display: flex;
  justify-content: space-between;
  padding-left: 125px;
  margin-bottom: 10px;
  color: white;
}

.rightSide {
  display: flex;
  margin-right: 125px;
  gap: 20px;
}

@media (width <= 768px) {
  header {
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
  }

  header img {
    width: 97px;
    height: 55px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }

  header nav {
    display: none;
  }

  .articles {
    max-width: 700px;
    margin: auto;
    display: flex;
    padding: 10px;
    justify-content: center;
    text-align: center;
  }

  .section1-h1 {
    max-width: 700px;
    margin: auto;
    padding: 20px;
  }
  .section1-P {
    max-width: 700px;
    width: 100%;
    padding-left: 20px;
    text-align: left;
  }

  .section2-P {
    display: none;
  }
  .section-contact {
    display: flex;
    flex-direction: column-reverse;
  }
}
